@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1587042611606'); /* IE9 */
  src: url('iconfont.eot?t=1587042611606#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iconfont.woff2") format("woff2"),
  url('iconfont.woff?t=1587042611606') format('woff'),
  url('iconfont.ttf?t=1587042611606') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1587042611606#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bullet-subtitle:before {
  content: "\e628";
}

.icon-quote:before {
  content: "\e6b2";
}

.icon-lijitoudi:before {
  content: "\e627";
}

.icon-search:before {
  content: "\e622";
}

.icon-liandong1:before {
  content: "\e742";
}

.icon-xiazuan:before {
  content: "\e7e6";
}

.icon-icon_home:before {
  content: "\e79d";
}

.icon-icon_mail_line:before {
  content: "\e7a1";
}

.icon-icon_phone:before {
  content: "\e79f";
}

.icon-pro-home:before {
  content: "\e623";
}

.icon-pro-ab:before {
  content: "\e624";
}

.icon-weiduxuanze:before {
  content: "\e621";
}

.icon-clock:before {
  content: "\e620";
}

.icon-video:before {
  content: "\e630";
}

.icon-iframe:before {
  content: "\e61f";
}

.icon-cube2:before {
  content: "\e61e";
}

.icon-cube1:before {
  content: "\e61c";
}

.icon-iconxiazuan1:before {
  content: "\e61b";
}

.icon-iconxiazuan:before {
  content: "\e618";
}

.icon-heart:before {
  content: "\e6aa";
}

.icon-heart1:before {
  content: "\e7a0";
}

.icon-star1:before {
  content: "\e741";
}

.icon-star:before {
  content: "\e617";
}

.icon-xiugaimima:before {
  content: "\e684";
}

.icon-organization:before {
  content: "\e66b";
}

.icon-forward:before {
  content: "\e6f0";
}

.icon-user_circle:before {
  content: "\e6ae";
}

.icon-xiugaimima1:before {
  content: "\e616";
}

.icon-dashboard2:before {
  content: "\e6c1";
}

.icon-dashboard1:before {
  content: "\e6f7";
}

.icon-hbar:before {
  content: "\e615";
}

.icon-vertical-center:before {
  content: "\e605";
}

.icon-align-top:before {
  content: "\e607";
}

.icon-horizontal-center:before {
  content: "\e608";
}

.icon-align-bottom:before {
  content: "\e60b";
}

.icon-align-right:before {
  content: "\e612";
}

.icon-align-left:before {
  content: "\e614";
}

.icon-sortascending:before {
  content: "\eab7";
}

.icon-sortdescending:before {
  content: "\eab8";
}

.icon-values:before {
  content: "\e60e";
}

.icon-categories:before {
  content: "\e610";
}

.icon-preview:before {
  content: "\e7b9";
}

.icon-more-vertical-o:before {
  content: "\e9b3";
}

.icon-rect-text:before {
  content: "\e81a";
}

.icon-rectangle:before {
  content: "\e660";
}

.icon-tubiaozhizuomoban:before {
  content: "\e60f";
}

.icon-palette:before {
  content: "\e9c7";
}

.icon-rounded-rect:before {
  content: "\e64c";
}

.icon-unselected:before {
  content: "\e603";
}

.icon-selected:before {
  content: "\e602";
}

.icon-shangyiyiceng:before {
  content: "\e64a";
}

.icon-xiayiyiceng:before {
  content: "\e64b";
}

.icon-bring-upper:before {
  content: "\e600";
}

.icon-send-next:before {
  content: "\e601";
}

.icon-bring-front:before {
  content: "\e647";
}

.icon-send-bottom:before {
  content: "\e648";
}

.icon-confidence-band:before {
  content: "\e695";
}

.icon-parallel:before {
  content: "\e60a";
}

.icon-calendar1:before {
  content: "\e687";
}
.icon-department:before {
  content: "\e66b";
}

.icon-costcenter:before {
  content: "\e681";
}
.icon-subject:before {
  content: "\e682";
}

.icon-waterfall:before {
  content: "\e606";
}

.icon-duplex:before {
  content: "\e6eb";
}

.icon-edit-2:before {
  content: "\e652";
}

.icon-unlink:before {
  content: "\e6c3";
}

.icon-jiedian:before {
  content: "\e7be";
}

.icon-china:before {
  content: "\e609";
}

.icon-chexiao:before {
  content: "\e604";
}

.icon-qianjin:before {
  content: "\e646";
}

.icon-fuzhi:before {
  content: "\e61a";
}

.icon-niantie:before {
  content: "\e61d";
}

.icon-text:before {
  content: "\e63a";
}

.icon-found:before {
  content: "\e60d";
}

.icon-move1:before {
  content: "\e651";
}

.icon-table:before {
  content: "\e662";
}

.icon-calendar:before {
  content: "\e626";
}

.icon-area-chart:before {
  content: "\e62a";
}

.icon-scatter-chart:before {
  content: "\e632";
}

.icon-Graph:before {
  content: "\e6ab";
}

.icon-iconloudoutu:before {
  content: "\e644";
}

.icon-map:before {
  content: "\e852";
}

.icon-gauge:before {
  content: "\e6c6";
}

.icon-chartwordcloud:before {
  content: "\e6cd";
}

.icon-radarchart:before {
  content: "\e7cb";
}

.icon-chartpie:before {
  content: "\e670";
}

.icon-kongjiansangjitu:before {
  content: "\e863";
}

.icon-relitu:before {
  content: "\e619";
}

.icon-510tongji_guanxitu:before {
  content: "\e649";
}

.icon-508tongji_xiangxiantu:before {
  content: "\e64d";
}

.icon-507tongji_Kxiantu:before {
  content: "\e64e";
}

.icon-chart-treemap:before {
  content: "\e613";
}

.icon-chart-bar:before {
  content: "\e60c";
}

.icon-chart-line:before {
  content: "\e611";
}

.icon-user1:before {
  content: "\e639";
}

.icon-group:before {
  content: "\e625";
}

.icon-custom-business:before {
  content: "\e638";
}

.icon-dashboard:before {
  content: "\e631";
}

.icon-widget-gallery:before {
  content: "\e671";
}

.icon-datasource24:before {
  content: "\e6ef";
}

